[Desktop Entry]
Type=Application
Name=Nothing Widgets
GenericName=Desktop Widgets
Comment=Add, remove, and configure desktop widgets
Icon=preferences-desktop
Exec=qs ipc call nothing openControl
Terminal=false
Categories=Utility;DesktopSettings;
StartupNotify=false
Actions=Reload;ToggleDock;

[Desktop Action Reload]
Name=Reload Layout
Exec=qs ipc call nothing reload

[Desktop Action ToggleDock]
Name=Toggle Launcher Dock
Exec=qs ipc call nothing toggleLauncher
